* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pet-availability {
  display: flex;
  flex-direction: column;
}
.pet-availability:first-child {
  padding-right: 20px;
}

.pet-card-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.pet-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex: 0 0 calc(20% - 20px);
  flex-direction: column;
  padding: 10px;
  margin: 10px 10px 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.pet-card img {
  max-width: 100%;
  height: auto;
}

.pet-details {
}

.pet-details h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.pet-filter {
  display: flex;
  padding: 30px 0;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.pet-filter h1 {
  font-size: 28px;
  font-weight: 500;
  flex: 1;
  font-family: monospace;
}

.pet-ribbon {
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid red;
  color: white;
  font-size: 20px;
  height: 0px;
  line-height: 47px;
  padding: 5px;
  position: absolute;
  right: -35px;
  top: -2px;
  text-align: center;
  text-indent: -3px;
  transform: rotate(45deg);
  width: 116px;
}

.pet-ribbon-bird {
  border-bottom-color: #ea5a52;
}
.pet-ribbon-cat {
  border-bottom-color: #ffb43b;
  text-indent: 3px;
}
.pet-ribbon-dog {
  border-bottom-color: #a05838;
}
.pet-ribbon-fish {
  border-bottom-color: #2864f0;
}
.pet-ribbon-insect {
  border-bottom-color: #293939;
  text-indent: -12px;
}

.pet-status {
  display: flex;
  align-self: flex-end;
}

.pet-status label {
  color: #666;
  font-size: 10px;
  font-weight: 500;
  line-height: 2em;
  text-transform: uppercase;
}

.pet-status select {
  /* margin-left: 10px; */
}

@media (max-width: 1024px) {
  .pet-card {
    flex: 0 0 calc(15% - 20px); /* 3 items per row, with gap */
  }
  .pet-ribbon {
    width: 40px;
    font-size: 12px;
    padding: 4px;
    border-radius: 25px;
    line-height: 12px;
    right: -15px;
    top: -10px;
  }
}

@media (max-width: 768px) {
  .text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .text {
    font-size: 16px;
  }
}
